body {
  background-color: #C9D8B6;
}

h1 {
  color: #57837B;
}

h3 {
  color: #515E63;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: grey;
    width: 5%;
  }
